
body{
    background-color: lightgray;
}


h1{

    margin-left: 40%;
}

.one ,.two {
    margin-left: 40%;
    margin-top: 4%;
    padding-left: 3%;

}

h5{

    padding-left: 4%;
    padding-top: 3%;
}

.btn{

    padding: 1% 1%;
background-color: blue;
border-radius: 15%;
}

.btn:hover{
    background-color: lightblue
}