body{
    background-color: lightgray;
}


.one ,.two ,.nos {
    margin-left: 40%;
    margin-top: 4%;
    padding-left: 3%;

}

.btn{

    padding: 1% 1%;
background-color: blue;
border-radius: 15%;
}

.btn:hover{
    background-color: lightblue
}

h3{
    margin-left: 48%;
    color: blue;
}